h1,h2,h3,h4{
	font-family: 'Staatliches', cursive;
	&.underlined{
		position: relative;
		&:after{
			content: '';
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			height: 4px;
			background: linear-gradient(to right, rgb(69, 14, 71), transparent);
		}
	}
	@for $i from 1 to 5{
		&.spaced-#{$i}{
			letter-spacing: 3rem / $i;
		}
	}
}

